 /* #2196F3 blue */ 
/* #212121 black */
/* #FFFFFF white */
/* #000000  black */
/* #AFB1B8 grey */
/*     font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif; */
html {
    box-sizing: border-box;
} 

*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --accent-color: #2196F3;
    --dark-color: #212121;
    --main-color: #757575;
    --white-color: #ffffff;
}
body {
    margin: 0;
    color: var(--dark-color);
    background-color: var(--white-color);
}
a {
    text-decoration: none;
}

h2,h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
    margin: 0;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin: 0;
}

/*для сброса точек перед списками*/
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 0;*/
}

/* header */
.container-block {
    display: flex; 
    width: 1200px;
}
/* выровнял текст
header*/
.container-nav {
    display: flex;
    justify-content: flex-start ;
    align-self: flex-end;
}
/* header */
.logotype {
    display: flex;
    width: 153px;
    padding-left: 0px;
    margin-right: 85px;

    text-decoration: none;
    font-weight: 700;
}
/* header */
.logo {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;   
    letter-spacing: 0.03em;   
    color: var(--accent-color);      
}
/* header */
.log {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 85px;
    margin-left: 5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;   
    letter-spacing: 0.03em;   
    color: var(--dark-color);   
}

/* header */
.nav-links {
    display: flex;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;    
    color: var(--dark-color);       
}
/* header */
.nav-links .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

}
/* header, для всех эл. кроме посл. отступ 50*/
.nav-links .menu:last-child {
    margin-right: 0;
}
/* header */
.nav-links .link:hover,
.nav-links .link:focus {
    color:var(--accent-color);
}
/* header */
 .adr {
    display: flex;
    justify-content: flex-end;
    margin-left: 305px;
    margin-right: 0;
}
/* header */
.adr-mail {
    padding-top: 32px;
    padding-right: 30px;
    padding-bottom: 32px;
}
.let {
    margin-right: 10px;
}
.smart {
    margin-right: 10px;
}
/* header */
.adr-tel {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 0;
    margin-right: 0;
}
/* header */
.adr .adr-mail,
.adr .adr-tel {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;   
    color: var(--main-color);        
}
/* header */
.adr-mail:hover,
.adr-mail:focus {
    color:var(--accent-color);
}
/* header */
.adr .adr-tel:hover,
.adr .adr-tel:focus {
    color: var(--accent-color);
}

/*уникальный контент страницы*/
.gray-fill {   
    max-width: 1600px;
    height: 600px;
    margin-bottom: 94px;
    margin-right: auto;
    margin-left: auto; 
    background-image: linear-gradient(
         rgba(47, 48, 58, 0.8),
         rgba(47, 48, 58, 0.8)
    ),                        
    url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/*уникальный контент страницы*/
.main-content {   
    width: 696px;    
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;   
    margin-top: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}
/*уникальный контент страницы*/
.order-button {   
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    border-radius: 4px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 200px;/* 200 от края картинки*/
    margin-left: auto;     
    min-width: 200px;    
    background-color: var(--accent-color);
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--white-color);   
}
/* уникальный контент страницы */
.content {
    text-align: center;
    width: 1200px;
}

.title-works {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}
/* портфолио кнопки */
.container-buttons {
    width: 611px;
    margin-right: auto;
    margin-left: auto;
}
/* портфолио кнопки */
.list-buttons {
    margin-bottom: 34px;
}
/* портфолио кнопки */
.box-button {
    display: flex;    
}
/* портфолио кнопки */
.list-buttons li:not(:last-child) {
    margin-right: 8px;
}
/* портфолио кнопки */
.butt {
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border-radius: 4px;
}
/* портфолио кнопки */
.butt :hover {
    background: var(--accent-color);
    color: var(--white-color);
    box-sizing: inherit;
    border-radius: 4px;    
}


/* главная шапка навигация */
.nav-links .menu {
    margin-right: 50px;
}

/* портфолио шапка сайта*/
.container-portfolio {
    display: flex; 
    width: 1170px;
    margin-bottom: 94px;
    background-color: var(--white-color);
}

/*особенности*/
.container-features {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

/*особенности*/
.title-features {
    display: flex;
    padding: 0;
    width: 1200px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 94px;
    margin-left: auto; 
}
/*особенности*/
.chapter1 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.features {
    width: 270px;
    padding: 0;
    margin-right: 30px;
}
.features:nth-child(4n) {
    margin-right: 0;
}
/*особенности*/
.icon {
    background: #F5F4FA;
    border-radius: 4px;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;   
}

/*особенности*/
.rubric {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--main-color);
}
/* портфолио проэкты */
.chapter {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding: 0;
    margin-top: 20px;
    margin-right: 24px;
    margin-bottom: 4px;
    margin-left: 24px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
}
/* портфолио проэкты */
.elements-projects p {
    margin-right: 24px;
    margin-bottom: 20px;
    margin-left: 24px;
}

.topic {
    padding: 0;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}

/* портфолио проэкты */
.list-of-projects {
    display: flex;
    flex-wrap: wrap;
}
/* портфолио проэкты*/
.container-projects {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
}
/* портфолио проэкты */
.elements-projects {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    outline: 1px solid #eeeeee;
}
/* портфолио проэкты */
.elements-projects:nth-child(3n) {
    margin-right: 0;
}
/* портфолио проэкты */
.elements-projects:nth-last-child(-n+3) {
    margin-bottom: 0;
}
/* футер */
.dark-background {
    background: #2F303A;
    width: 1600px;
    margin: auto;
}
/*футер*/
.follow {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
}

/* футер */
.footer-content {
    display: flex;
    width: 1600px;
}
/* футер */
.footer-logotype {
    display: flex;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    margin-top: 60px;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
}
/* футер */
.footer-logo {
    display: flex;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;   
    letter-spacing: 0.03em;   
    color: var(--accent-color);
}
/* футер */
.footer-log {
    display: flex;
    margin-left: 5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;   
    letter-spacing: 0.03em;   
    color: var(--white-color); 
}
/* футер */
.footer-adr {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-right: 30px;
}
/**/
.footer-adr-mail,
.footer-adr-tel {
    color: var(--main-color);
}
/* футер */
.adr-city{
    display: flex;
    flex-direction: column;
    width: 231px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
/* футер */
.adr-city p {
    color: var(--white-color);
}
/* футер */
.footer-social {
    margin-top: 72px;
    width: 270px;
}
/* футер */
.follow {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    color: var(--white-color);
}
/* футер */
.social-links {
    display: flex;
    flex-direction: row;
    color: var(--white-color);
}
/*футер*/
.footer-icon {
    margin-right: 10px;
    color: var(--white-color);
}
/**/
.footer-icon .link:hover {
    background: var(--accent-color);
}
/*футер*/
.footer-icon:nth-child(4n) {
    margin-right: 0;
}
/* чем мы занимаемся */
.container-work {
    width: 1200px;
    margin-bottom: 94px;
}

/*чем мы занимаемся*/
.hobby {
    display: flex;
}

/*чем мы занимаемся*/
.work {
    width: 370px;
    margin-right: 30px;
    height: 386px;
    /*margin-bottom: 94px;*/
}
/*чем мы занимаемся*/
.work:nth-child(3n) {
    margin-right: 0;
}
/*чем мы занимаемся*/
.chapter2 { 
      
    padding-top: 27px;
    padding-right: 83px;
    padding-bottom: 27px;
    padding-left: 83px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    background: var(--main-color);
    position: absolute;
}
/*чем мы занимаемся*/
.chapter22 {
    padding-top: 27px;
    padding-right: 85px;
    padding-bottom: 27px;
    padding-left: 86px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    background: var(--main-color);
    position: absolute;   
}
/*чем мы занимаемся*/
.chapter222 {
    padding-top: 27px;
    padding-right: 90px;
    padding-bottom: 27px;
    padding-left: 91px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    background: var(--main-color);
    position: absolute;
}
/*чем мы занимаемся*/
.fig {
   margin: auto; 
}
/**/
.section2 {
    display: inline-block;
    width: 1200px;
}
/* наша команда */
.grey-background {
    background: #F5F4FA;
    width: 1600px;
    margin: auto;
}
/* наша команда */
.our-team {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
}
/*наша команда*/
.container-team {
    width: 1200px;
}
/*наша команда*/
.topic3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    padding-top: 94px;
    padding-bottom: 50px;

}
/*наша команда*/
.all-team {
    width: 270px;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
/*наша команда*/
.all-team:nth-child(4n) {
    margin-right: 0;
}
/*наша команда*/
.team-photo {
    padding-bottom: 30px;
}
/*наша команда*/
.chapter3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    margin-bottom: 10px;
}
/*наша команда*/
.rubric1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 16px;
}
/*наша команда*/
.social-links-team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    width: 206px;
    margin-bottom: 24px; 
}

/*наша команда*/
.social-links-team .link:hover {
    background: var(--accent-color);
}
/*постоянные клиенты*/
.costumer {
    width: 1200px;
}
/*постоянные клиенты*/
.topic2 {
    padding-top: 94px;
    padding-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}
/* постоянные клиенты c*/
.costumer-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
}
/*постоянные клиенты*/
.all-costumer {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    margin-right: 30px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
}
/*постоянные клиенты*/
.all-costumer:nth-child(6n) {
    margin-right: 0;
}
/**/
.all-costumer :hover {
    background: var(--accent-color);
    box-sizing: inherit;
    border-radius: 4px; 
    border: 1px solid var(--accent-color);   
}
